@import "../../../colors/colors";

.burger-menu {
  display: inline-block;
  width: 64px;
  background-color: #111518;
  height: 100vh;
  &__buttons {
    position: absolute;
    top: 4.8%;
    z-index: 9;
    height: 25px;
    left: 17.5px;
    &:hover {
      cursor: url("../../../assets/pointer.svg"), pointer;
    }
  }

  &._open {
    width: 52.5%;
    z-index: 3;
    &::before {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: rgba(21, 27, 31, 0.81);
      z-index: 2;
      content: '';
    }
  }
}

.burger-menu-container {
  position: absolute;
  z-index: 4;
  top: 34.85%;
  left: 10%;
  margin: 0;
}

.burger-menu-nav__menu-element {
  margin-bottom: 4%;
}

.burger-menu-nav__link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;

  &:hover {
    color: $green;
  }
}

.burger-menu-icons {
  margin-top: 15%;
}

.burger-menu-icons__item {
  margin-right: 9%;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.burger-menu-icons__logo {
  display: inline-block;
  path {
    fill: white;
  }
  &:hover {
    path {
      fill: $green;
    }
  }
}

.burger-menu__language {
  position: absolute;
  left: 21px;
  bottom: 30px;
  font-size: 13px;
  font-weight: bold;
  color: $green;
  margin: 0;
  &_mobile {
    display: none;
  }
}

@media (max-width: 1439px) {
  .burger-menu {
    &._open {
      width: 62%;
      z-index: 3;
      &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(21, 27, 31, 0.81);
        z-index: 2;
        content: '';
      }
    }
  }
}

@media (max-width: 1023px) {
  .burger-menu {
    &._open {
      width: 100%;
      &::before {
        background: rgba(21, 27, 31, 0.81);
      }
    }
  }
}

@media (max-width: 767px) {
  .burger-menu__language {
    display: none;
    &_mobile {
      z-index: 3;
      display: block;
    }
  }

  .burger-menu-nav__link {
    font-size: 22px;
  }

  .burger-menu-container {
    top: 90px;
    left: 28px;
  }

  .burger-menu {
    display: inline-block;
    width: 40px;
    background: none;
    height: 40px;

    &._open {
      width: 100%;
      &::before {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #111518;
      }
    }
    &__item-color_open {
      stroke: $black;
    }
    &__buttons {
      top: 24px;
      left: 22px;
    }
  }
}

