@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'),
  url('../Fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto-Bold'),
  url('../Fonts/Robotobold.ttf') format('truetype');
}
