.content {
  position: absolute;
  width: calc(100% - 64px);
  height: 100%;
  margin-left: 64px;
  z-index: 1;
}

.content__block {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 50%;
}

.content__footer {
  position: absolute;
  height: 8%;
  bottom: 0;
  width: 50%;
  text-align: center;
}

.content__footer-text {
  font-size: 13px;
  display: inline;
  overflow: auto;
  font-family: Robotobold, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content__footer-text_left {
  color: #999999;
  float: left;
  margin-left: 10%;
}

.content__footer-text_right {
  float: right;
  margin-right: 10%;
  color: #121212;
}
.content__footer-text_right:hover {
  color: #0EC261;
}

.content__header {
  width: 100%;
  margin-top: 32px;
  overflow: auto;
  align-items: center;
}

.content__header-text {
  color: #0EC261;
  margin-left: 10%;
  font-size: 30px;
  font-weight: 700;
  display: inline;
}

.content__header-location-text {
  color: #999999;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  float: right;
  margin-right: 10%;
}

.content__header-logo {
  position: relative;
  right: 5px;
  top: 4px;
}

.content__hero {
  margin-top: 125px;
  margin-left: 10%;
}

.content__hero-title {
  font-family: Roboto-Bold, serif;
  color: #121212;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
  height: 66px;
}

.content__hero-name {
  font-family: Roboto-Bold, serif;
  color: #0EC261;
  font-weight: bold;
  font-size: 70px;
  margin: 4px 0 0 0;
  height: 66px;
}

.content__hero-subtitle {
  font-family: Roboto, serif;
  color: #999999;
  font-weight: 300;
  font-size: 26px;
  margin: 34px 0 60px 0;
}

.content__hero-link {
  text-decoration: none;
  font-family: Roboto, serif;
  color: white;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 13px 60px;
  background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
}
.content__hero-link:hover {
  background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
}

@media (max-width: 1439px) {
  .content__block_first {
    width: 60%;
  }
  .content__block_second {
    width: 40%;
  }
  .content__footer {
    width: 60%;
  }
}
@media (max-width: 1023px) {
  .content__block_second {
    display: none;
  }

  .content__block_first {
    width: 100%;
  }

  .content__footer {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
  .content__header {
    margin-top: 17px;
    margin-left: 26px;
    width: calc(100% - 26px);
  }
  .content__hero {
    margin-left: 16px;
    margin-top: 140px;
  }
  .content__hero-subtitle {
    margin-top: 16px;
    font-size: 18px;
  }
  .content__hero-title {
    font-size: 32px;
    height: 32px;
    margin-bottom: 6px;
  }
  .content__hero-name {
    font-size: 32px;
    height: 33px;
  }
  .content__hero-link {
    width: 100%;
    position: absolute;
    left: 0;
    border-radius: 0;
  }
  .content__footer {
    background-color: black;
    height: 72px;
  }
  .content__footer-text {
    display: block;
  }
  .content__footer-text_right {
    color: #0EC261;
  }
  .content__header-text {
    display: block;
    float: none;
    position: absolute;
    right: 16px;
    margin: 0;
  }
  .content__header-location-text {
    display: block;
    float: none;
    position: absolute;
    right: 16px;
    margin: 45px 0 0 0;
  }
  .content .content__footer-text_left {
    float: none;
    position: absolute;
    right: 16px;
    margin: 0;
    top: 40px;
  }
  .content .content__footer-text_right {
    float: none;
    position: absolute;
    right: 16px;
    margin: 0;
    top: 16px;
  }
}

/*# sourceMappingURL=home.css.map */
