@import "./Fonts/fonts";

/* colors */
$grey: #999999;
$black: #121212;
$green: #0EC261;

.App {
  display: flex;
  cursor: url('./assets/cursor.svg'), default;

}
a {
  cursor: url("./assets/pointer.svg"), pointer;
}

body {
  background-color: #FFFFFF;
}

li {
  list-style-type: none;
}






